body {
    font-family: "Sofia-Pro", sans-serif;
    background-color: #f3f2ee;
  }

.section {
    padding: 2rem 0 7rem;
}


.custom-navbar {
    background: #020c63;
}

.custom-footer {
    background-color: #020c63;
    color: #fff;
    padding: 2rem 0;
}

.dark-bg {
    background-color: white;
}

/* on hover make expand */
.site:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* make Y Combinator orange, bold, and underline */
.topic {
    color: #020c63;
    font-weight: bold;
    text-decoration: underline;
}
  